* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 500px) {
  nav ul {
    float: none;
  }
  header {
    padding-top: 30px;
    max-width: 80%;
  }
  header img {
    width: 100px;
  }
  header .search_field .microphone_icon {
    display: none;
  }
  header .buttons {
    display: none;
  }
  header p {
    text-align: center;
  }
  header p a {
    display: block;
  }
  header p a::before {
    content: attr(data-text);
  }
}

@media only screen and (max-width: 850px) {
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  height: 10vh;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  float: right;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 7px;
}

nav ul li {
  margin: 10px;
  cursor: pointer;
}

nav ul li .icon {
  height: 18px;
}

nav ul li a {
  background-color: #1a73eb;
  color: #ffffff;
  padding: 10px 27px;
  border-radius: 7%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #267ced;
  -webkit-box-shadow: 1px 1px 5px #267ced;
          box-shadow: 1px 1px 5px #267ced;
  text-decoration: none;
}

nav ul .text:hover {
  text-decoration: underline;
}

header {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

header img {
  width: 20rem;
}

header .search_field {
  margin-top: 25px;
  padding: 12px;
  border: solid 0.01px #0000001b;
  border-radius: 30px;
  width: 45em;
  height: 45px;
  cursor: pointer;
}

header .search_field .search_icon,
header .search_field .microphone_icon {
  width: 16px;
  margin-right: 5px;
  margin-left: 10px;
}

header .search_field .icons:hover {
  width: 17px;
}

header .search_field input {
  width: 85%;
  border: none;
  height: 150%;
  outline: none;
}

header .search_field:hover {
  -webkit-box-shadow: 1px 1px 8px #dad6d6;
          box-shadow: 1px 1px 8px #dad6d6;
}

header .buttons {
  margin-top: 50px;
}

header .buttons a {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-size: 14px;
  margin: 11px 4px;
  padding: 10px 16px;
  text-decoration: none;
}

header .buttons a:hover {
  border: solid 0.5px #dad6d6;
}

header p {
  margin-top: 50px;
}

header p a {
  color: #1a0dab;
  text-decoration: none;
}

header p a:hover {
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0000000b;
  color: #00000081;
  font-size: 14px;
}

footer .country {
  border-bottom: solid #0000001a 0.001cm;
  padding: 15px 20px;
  font-size: 15px;
  margin-left: 5px;
}

footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

footer .bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: 5px 0;
}

footer .bottom ul li {
  padding: 15px;
  cursor: pointer;
}

footer .bottom ul li:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */