* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 10vh;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        float: right;
        align-items: baseline;
        margin-top: 7px;
        li {
            margin: 10px;
            .icon {
                height: 20px;
            }
            a {
                background-color: #1a73eb;
                color: #ffffff;
                padding: 10px 27px;
                border-radius: 7%;
                font-family: "Roboto", sans-serif;
                font-size: 15px;
                text-decoration: none;
            }
            a:hover {
                background-color: #267ced;
                box-shadow: 1px 1px 5px #267ced;
            }
        }
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 270px;
    }
    .search_field {
        margin-top: 20px;
        padding: 10px;
        border: solid 0.01px #0000001b;
        border-radius: 30px;
        width: 550px;
        .icons {
            width: 18px;
            margin-right: 5px;
            margin-left: 10px;
        }
        input {
            width: 85%;
            border: none;
            height: 150%;
            outline: none;
        }
    }
    .buttons {
        margin-top: 50px;
        a {
            background-color: #f8f9fa;
            border: 1px solid #f8f9fa;
            border-radius: 4px;
            color: #3c4043;
            cursor: pointer;
            font-size: 14px;
            margin: 11px 4px;
            padding: 10px 16px;
            text-decoration: none;
        }
    }
    p {
        margin-top: 50px;
        a {
            color: #1a0dab;
            text-decoration: none;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0000000b;
    color: #00000081;
    font-size: 15px;
    .country {
        border-bottom: solid #0000001a 0.001cm;
        padding: 15px 20px;
    }
    .bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 20px;
        .carbon_neutral {
            text-align: center;
            margin: 15px 0;
            font-size: 14px;
            img {
                width: 15px;
            }
            p {
                display: inline-block;
            }
        }
        ul {
            display: flex;
            list-style: none;
            margin: 10px 0;
            li {
                padding: 10px;
            }
        }
    }
}