* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 16px;
    }
    nav {
        ul {
            float: none;
            width: 100%;
            li {
                text-transform: uppercase;
            }
        }
    }
    header {
        margin-bottom: 2rem;
        .search_field {
            width: 100%;
        }
        .buttons {
            display: none;
        }
        p {
            width: 70%;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 850px) {
    .bottom {
        flex-direction: column;
        align-items: center;
    }
}

body {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 10vh;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        float: right;
        align-items: stretch;
        margin-top: 7px;
        li {
            margin: 10px;
            cursor: pointer;
            .icon {
                height: 18px;
            }
            a {
                background-color: #1a73eb;
                color: #ffffff;
                padding: 10px 27px;
                border-radius: 7%;
                font-family: "Roboto", sans-serif;
                font-size: 15px;
                text-decoration: none;
            }
            a:hover {
                background-color: #267ced;
                box-shadow: 1px 1px 5px #267ced;
                text-decoration: none;
            }
        }
        .text:hover {
            text-decoration: underline;
        }
    }
}

header {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    img {
        width: 20rem;
    }
    .search_field {
        margin-top: 25px;
        padding: 12px;
        border: solid 0.01px #0000001b;
        border-radius: 30px;
        width: 45em;
        height: 45px;
        cursor: pointer;
        .icons {
            width: 16px;
            margin-right: 5px;
            margin-left: 10px;
        }
        .icons:hover {
            width: 17px;
        }
        input {
            width: 85%;
            border: none;
            height: 150%;
            outline: none;
        }
    }
    .search_field:hover {
        box-shadow: 1px 1px 8px #dad6d6;
    }
    .buttons {
        margin-top: 50px;
        a {
            background-color: #f8f9fa;
            border: 1px solid #f8f9fa;
            border-radius: 4px;
            color: #3c4043;
            cursor: pointer;
            font-size: 14px;
            margin: 11px 4px;
            padding: 10px 16px;
            text-decoration: none;
        }
        a:hover {
            border: solid 0.5px #dad6d6;
        }
    }
    p {
        margin-top: 50px;
        a {
            color: #1a0dab;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0000000b;
    color: #00000081;
    font-size: 14px;
    .country {
        border-bottom: solid #0000001a 0.001cm;
        padding: 15px 20px;
        font-size: 15px;
        margin-left: 5px;
    }
    .bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 20px;
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            margin: 5px 0;
            li {
                padding: 15px;
                cursor: pointer;
            }
            li:hover {
                text-decoration: underline;
            }
        }
    }
}