$tablet: 850px;
$mobile: 500px;
@mixin tablet {
    @media (max-width: #{tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{mobile}) {
        @content;
    }
}

@mixin menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: {
        family: Arial, Helvetica, sans-serif;
        size: 13px;
    }
    @include mobile {
        font-size: 16px;
    }
}

nav {
    height: 10vh;
    ul {
        @include menu;
        float: right;
        align-items: stretch;
        margin-top: 7px;
        @include mobile {
            float: none;
        }
        li {
            margin: 10px;
            cursor: pointer;
            .icon {
                height: 18px;
            }
            a {
                background-color: #1a73eb;
                color: #ffffff;
                padding: 10px 27px;
                border-radius: 7%;
                text-decoration: none;
                font: {
                    family: "Roboto", sans-serif;
                    size: 15px;
                }
                &:hover {
                    background-color: #267ced;
                    box-shadow: 1px 1px 5px #267ced;
                    text-decoration: none;
                }
            }
        }
        .text:hover {
            text-decoration: underline;
        }
    }
}

header {
    max-width: 600px;
    display: flex;
    flex: {
        direction: column;
        flow: row wrap;
    }
    justify-content: center;
    margin: 0 auto;
    @include mobile {
        padding-top: 30px;
        max-width: 70%;
    }
    img {
        width: 20rem;
        @include mobile {
            width: 100px;
        }
    }
    .search_field {
        border: solid 0.01px #0000001b;
        border-radius: 30px;
        margin-top: 25px;
        padding: 12px;
        width: 45em;
        height: 45px;
        cursor: pointer;
        &:hover {
            box-shadow: 1px 1px 8px #dad6d6;
        }
        .search_icon,
        .microphone_icon {
            width: 16px;
            margin: {
                right: 5px;
                left: 10px;
            }
        }
        .microphone_icon {
            @include mobile {
                display: none;
            }
        }
        input {
            border: none;
            height: 150%;
            outline: none;
            width: 85%;
            font-size: 16px;
        }
    }
    .buttons {
        margin-top: 50px;
        @include mobile {
            display: none;
        }
        a {
            background-color: #f8f9fa;
            border: 1px solid #f8f9fa;
            border-radius: 4px;
            color: #3c4043;
            cursor: pointer;
            font-size: 14px;
            margin: 11px 4px;
            padding: 10px 16px;
            text-decoration: none;
            &:hover {
                border: solid 0.5px #dad6d6;
            }
        }
    }
    p {
        margin-top: 50px;
        @include mobile {
            text-align: center;
        }
        a {
            color: #1a0dab;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            @include mobile {
                display: block;
                &::before {
                    content: attr(data-text);
                }
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0000000b;
    color: #00000081;
    font-size: 14px;
    .country {
        border-bottom: solid #0000001a 0.001cm;
        font-size: 15px;
        margin-left: 5px;
        padding: 15px 20px;
    }
    .bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 20px;
        @include tablet {
            flex-direction: column;
            align-items: center;
        }
        ul {
            @include menu;
            margin: 5px 0;
            li {
                padding: 15px;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}